<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <title>COMPANIES - ANALYSISSTANT</title>
  </head>
  <body class="bg-nav">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto" style="font-family:Trebuchet MS" style="font-size:40px" ><b>ANALYSISSTANT</b></h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="userpage">Home</a>
		<a class="p-2"  style="color:blue" href="companies"><b>Companies</b></a>
		<a class="p-2 text-dark" href="nsedata">NSE Data</a>
		<a class="p-2 text-dark" href="profile">Profile</a>
	</nav>
	    <a class="btn btn-outline-primary" href="home">Logout</a>
	</div>	
	<div class="container mb-3 mt-3" style="color:white">
	<table id="CompaniesTable" class="table-light table-bordered table-hover CompaniesTable" style="width: 100%" >
     <thead> 
      <tr style="color:black">
		  <th scope="col">COMPANY ID</th>
		  <th scope="col">COMPANY NAME</th>
		  <th scope="col">BSE SCRIPT CODE</th>
		  <th scope="col">NSE SCRIPT CODE</th>
		  <th scope="col">ISIN CODE</th>
		  <th scope="col">START DATE</th>
		  <th scope="col">END DATE</th>
		  <th scope="col">ACTIVE STATUS</th>
		  <th scope="col">SCRIPT TYPE</th>
	  </tr>
     </thead>
     <tbody>
		{% for item in data %}
		<tr style="color:black">
			<td style=" vertical-align: middle;">{{item[0]}}</td>
			<td style=" vertical-align: middle;">{{item[9]}}</td>
			<td style=" vertical-align: middle;">-</td>
			<td style=" vertical-align: middle;">{{item[2]}}</td>
			<td style=" vertical-align: middle;">{{item[3]}}</td>
			<td style=" vertical-align: middle;">-</td>
			<td style=" vertical-align: middle;">-</td>
			<td style=" vertical-align: middle;">{{item[6]}}</td>
			<td style=" vertical-align: middle;">{{item[8]}}</td>
		</tr>
		{% endfor %}
	 </tbody>
    </table>
	</div>
    <!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script>
     $(".CompaniesTable").DataTable();
  </script>
  </body>
</html>