<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SERVER ERROR</title>
  </head>
  <body class="bg-nav">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto" style="font-family:Trebuchet MS" style="font-size:40px" ><b>ANALYSISSTANT</b></h5>
	</div>	
	<div class="container mb-3 mt-3" style="position:relative; left:-110px; top:45px; color:white ">
	<h1 class="text-light">SERVER ERROR</h1>
	<h2 class="text-light">We are Sorry for the inconvenience</h2>
	</div>
	<div class="container mb-3 mt-3" style="position:relative; left:-110px; top:80px; color:white ">
	<h3 class="text-light">Possible reasons for the issue:-</h3>
	<h4 class="text-light">--> Weak Internet Connection</h4>
	<h4 class="text-light">--> Database Connectivity Issue</h4>
	<h4 class="text-light">--> Inappropriate Access</h4>
	</div>
	<div class="container mb-3 mt-3" style="position:relative; left:-110px; top:120px; color:white ">
	<h3 class="text-light">Here, give an another <a href="home" class="text-light"><u><b>try</b></u></a></h3>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>